/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}